{
  "canBookmark" : false,
  "bookmarkName" : "Select a Dream",
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "STELLARA",
      "planetName" : "A dream under a starry sky.",
      "warpAction" : "InstanceWorld:kkgsdreamworld",
      "icon" : "moon"
    },
    {
      "name" : "GAIA",
      "planetName" : "A homely garden for the nostalgic.",
      "warpAction" : "InstanceWorld:kkgsdreamgarden",
      "icon" : "garden"
    },
    {
      "name" : "VERDANTIS",
      "planetName" : "A pleasssant forest.",
      "warpAction" : "InstanceWorld:kkgsdreamforest",
      "icon" : "forest"
    },
    {
      "name" : "KAIYOU",
      "planetName" : "A calming, tranquil sea.",
      "warpAction" : "InstanceWorld:kkgsdreamocean",
      "icon" : "ocean"
    },
    {
      "name" : "QUETZALI",
      "planetName" : "A jungle to spread your wings.",
      "warpAction" : "InstanceWorld:kkgsdreamjungle",
      "icon" : "jungle"
    },
    {
      "name" : "SEVERNY",
      "planetName" : "A tundra, cold yet liberating.",
      "warpAction" : "InstanceWorld:kkgsdreamtundra",
      "icon" : "snow"
    },
    {
      "name" : "HEPHAESTUS",
      "planetName" : "Dreamy. A firey yet cozy world.",
      "warpAction" : "InstanceWorld:kkgsdreamvolcanic",
      "icon" : "volcanic"
    },
    {
      "name" : "REDALIVE",
      "planetName" : "A mighty fine desert landscape.",
      "warpAction" : "InstanceWorld:kkgsdreamdesert",
      "icon" : "desert"
    }
  ]
}
